nav.pagination(role='pagination')
  if page.prev
    a.newer-posts(href=url_for(page.prev_link))
      | &larr; Newer
    span.separator
      = ' | '

  span.page-number
    | Page #{page.current} of #{page.total}

  if page.next
    span.separator
      = ' | '
    a.newer-posts(href=url_for(page.next_link))
      | Older &rarr;
