#social-bar
  ul.share
    li.share-item
      a.share-item_link.is-email(href="mailto:?subject=" + encodeURIComponent(page.title) + "&amp;body=" + encodeURIComponent(page.permalink))
        span.icon
          include ../assets/share/email.svg
        span.text Email

    li.share-item
      a.share-item_link.is-facebook.popup(href="https://www.facebook.com/sharer/sharer.php?u=" + encodeURIComponent(page.permalink))
        span.icon
          include ../assets/share/fb.svg
        span.text Facebook

    li.share-item
      a.share-item_link.is-twitter.popup(href="http://twitter.com/home?status=" + encodeURIComponent(page.title) + "%20" + encodeURIComponent(page.permalink))
        span.icon
          include ../assets/share/twitter.svg
        span.text Twitter

    li.share-item
      a.share-item_link.is-linkedin.popup(href="http://www.linkedin.com/shareArticle?mini=true&amp;url=" + encodeURIComponent(page.permalink) + "&amp;title=" + encodeURIComponent(page.title))
        span.icon
          include ../assets/share/linkedin.svg
        span.text LinkedIn

    li.share-item
      a.share-item_link.is-pocket.popup(href="https://getpocket.com/save?url=" + encodeURIComponent(page.permalink))
        span.icon
          include ../assets/share/pocket.svg
        span.text Pocket

script.
  (function () {

    var popupCenter = function(url, title, w, h) {
      // Fixes dual-screen position                         Most browsers      Firefox
      var dualScreenLeft = window.screenLeft !== undefined ? window.screenLeft : screen.left;
      var dualScreenTop = window.screenTop !== undefined ? window.screenTop : screen.top;

      var width = window.innerWidth ? window.innerWidth : document.documentElement.clientWidth ? document.documentElement.clientWidth : screen.width;
      var height = window.innerHeight ? window.innerHeight : document.documentElement.clientHeight ? document.documentElement.clientHeight : screen.height;

      var left = ((width / 2) - (w / 2)) + dualScreenLeft;
      var top = ((height / 3) - (h / 3)) + dualScreenTop;

      var newWindow = window.open(url, title, 'scrollbars=yes, width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);

      // Puts focus on the newWindow
      if (newWindow && newWindow.focus) {
        newWindow.focus();
      }
    };

    var onClick = function (e) {
      var el = e.currentTarget;

      if (el.href) {
        e.preventDefault();
        popupCenter(el.href, '', 580, 480);
      }
    }

    if (document.querySelectorAll) {
      var el, matches = document.querySelectorAll('.share-item_link.popup');
      for (var i = 0; i < matches.length; i++) {
        el = matches[i]
        el.addEventListener('click', onClick)
      }
    }
  })()
