name: Main

on:
  push:
    branches: [master, configure-terraform-workflow]

jobs:
  terraform_apply:
    uses: ./.github/workflows/terraform_apply.yml
    with:
      ref: ${{ github.ref }}
    secrets:
      TF_API_TOKEN: ${{ secrets.TF_API_TOKEN }}
      DOKKU_DEPLOY_KEY: ${{ secrets.DOKKU_DEPLOY_KEY }}
      OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}

  release_home:
    needs: terraform_apply
    uses: ./.github/workflows/release_homepage.yml
    with:
      ref: ${{ github.ref }}
    secrets:
      DOKKU_DEPLOY_KEY: ${{ secrets.DOKKU_DEPLOY_KEY }}

  release_blog:
    needs: release_home
    uses: ./.github/workflows/release_blog.yml
    with:
      ref: ${{ github.ref }}
    secrets:
      DOKKU_DEPLOY_KEY: ${{ secrets.DOKKU_DEPLOY_KEY }}
