name: Release Homepage

on:
  workflow_dispatch:
  workflow_call:
    inputs:
      ref:
        description: "Reference to deploy"
        type: string
        default: "master"
    secrets:
      DOKKU_DEPLOY_KEY:
        required: true

concurrency: homepage-production

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ inputs.ref || 'master' }}

      - uses: actions/setup-node@v3
        with:
          node-version-file: .nvmrc

      - uses: pnpm/action-setup@v2
        with:
          version: 8.15.9
          run_install: false

      - name: Get pnpm store directory
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV

      - uses: actions/cache@v5
        name: Setup pnpm cache
        with:
          path: ${{ env.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install dependencies
        run: pnpm install

      - name: Test
        run: pnpm test
        working-directory: ./apps/home

      - name: Build
        run: pnpm build
        working-directory: ./apps/home

      - uses: webfactory/ssh-agent@v0.9.1
        with:
          ssh-private-key: ${{ secrets.DOKKU_DEPLOY_KEY }}

      - run: echo '167.71.190.115 ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBEYg+BGxM8IdEoQ8fx7aDoclC0eNXSpI6l/QkLRMF/cvjJcSCk4kz/4LEkSU8eXFawp8IX/yNOyV11sJZtCVBCs=' >> ~/.ssh/known_hosts

      - working-directory: ./apps/home/dist
        run: |
          touch .static
          git init
          git config --global user.email "deploy-bot@ertrzyiks.me"
          git config --global user.name "Deploy Bot"
          git remote add dokku dokku@167.71.190.115:home
          git add .
          git commit -m 'Update'
          git push dokku HEAD:master --force
