name: Terraform Apply

on:
  workflow_call:
    inputs:
      ref:
        required: true
        type: string
    secrets:
      TF_API_TOKEN:
        required: true
      DOKKU_DEPLOY_KEY:
        required: true
      OP_SERVICE_ACCOUNT_TOKEN:
        required: true

jobs:
  apply:
    runs-on: ubuntu-latest
    env:
      OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.ref }}

      - name: Install 1Password CLI
        uses: 1password/install-cli-action@v1

      - name: Setup SSH Agent
        uses: webfactory/ssh-agent@v0.8.0
        with:
          ssh-private-key: ${{ secrets.DOKKU_DEPLOY_KEY }}

      - name: Set SSH Key Path
        run: |
          SSH_KEY_PATH=$(find ~/.ssh -name 'agent.*' -type f | head -n 1)
          echo "TF_VAR_dokku_ssh_cert=$SSH_KEY_PATH" >> $GITHUB_ENV

      - uses: hashicorp/setup-terraform@v3
        with:
          cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}

      - name: Terraform Init
        working-directory: ./terraform
        run: terraform init

      - name: Terraform Apply
        working-directory: ./terraform
        run: terraform plan
        # run: terraform apply -auto-approve
