name: Terraform Apply

on:
  workflow_call:
    inputs:
      ref:
        required: true
        type: string
    secrets:
      TF_API_TOKEN:
        required: true
      DOKKU_DEPLOY_KEY:
        required: true
      OP_SERVICE_ACCOUNT_TOKEN:
        required: true

jobs:
  apply:
    runs-on: ubuntu-latest
    env:
      OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.ref }}

      - uses: hashicorp/setup-terraform@v3
        with:
          cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}

      - name: Terraform Init
        working-directory: ./terraform
        run: terraform init

      - name: Terraform Apply
        working-directory: ./terraform
        run: terraform apply -auto-approve
