name: Terraform

on:
  push:
    branches: [master]
    paths:
      - "terraform/**"

jobs:
  terraform_apply:
    uses: ./.github/workflows/terraform_apply.yml
    with:
      ref: ${{ github.ref }}
    secrets:
      TF_API_TOKEN: ${{ secrets.TF_API_TOKEN }}
      DOKKU_DEPLOY_KEY: ${{ secrets.DOKKU_DEPLOY_KEY }}
      OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
